@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
html {
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1, h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.command a, .command, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul, footer, .command, .menu ul {
  display: flex;
  flex-direction: column;
}

.menu__list, .menu-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.heart {
  position: absolute;
  right: 23px;
  top: 23px;
  font-size: 20px;
}
.heart__contour {
  position: relative;
  padding: 1px;
  color: #000;
  transition: all 300ms 100ms;
}
.heart:hover .heart__contour {
  opacity: 0;
  color: #9356DC;
}
.heart__center {
  position: absolute;
  padding: 1px;
  color: #fff;
  background-color: #fff;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transform: scale(0);
  transition: all 300ms;
}
.heart:hover .heart__center {
  transform: scale(1);
  color: transparent;
}

header {
  position: relative;
  height: 63px;
  background-color: #fff;
}
header img {
  width: 164px;
  margin-top: 10px;
}

.retour {
  position: absolute;
  margin-top: 10px;
  left: 18px;
  font-size: 20px;
  color: #000;
}

.top-menu {
  position: relative;
  padding: 0;
}
.top-menu__header {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #f6f6f6;
  border-radius: 38px 38px 0 0;
}
@media screen and (min-width: 769px) {
  .top-menu__header {
    max-width: 850px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.top-img {
  height: 255px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu-backnd {
  background-color: #f6f6f6;
  width: 100%;
  padding: 0 14px;
  margin: 0;
}
@media screen and (min-width: 769px) {
  .menu-backnd {
    max-width: 850px;
    margin: 0 auto;
  }
}

.menu-title {
  position: relative;
  padding: 0 0 14px 0;
  align-items: center;
}
.menu-title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
}
.menu-title .heart {
  position: relative;
  right: 0px;
  top: 0px;
  margin-right: 24px;
}

.menu h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  margin: 30px 6px 26px 6px;
  font-size: 1em;
}
.menu h2:after {
  position: absolute;
  display: block;
  background-color: #99E2D0;
  bottom: -8px;
  height: 3px;
  width: 40px;
  content: "";
}
.menu__list {
  height: 68px;
  width: 100%;
  margin: 7px 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 1px 1px 8px #dddddd;
  border-radius: 15px;
}
.menu__list:hover .list-valid {
  width: 59px;
}

.list-infos {
  width: 100%;
  padding: 14px 11px;
}
.list-infos h3 {
  font-size: 1em;
  margin-bottom: 6px;
}
.list-infos p {
  font-size: 0.9em;
  font-weight: 300;
}

.list-price {
  width: 50px;
  padding: 36px 10px 10px 5px;
  font-size: 0.9em;
  text-align: center;
  font-weight: bold;
}

.list-valid {
  width: 0px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: all 500ms;
}

.command {
  padding: 40px 0;
}
.command a {
  color: #fff;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 8px #b6b6b6;
  height: 50px;
  padding: 10px 50px;
  margin: 13px 0;
  border-radius: 25px;
  transition: box-shadow 300ms;
  transition: margin 150ms, box-shadow 150ms;
}
.command a:hover {
  margin: 12px 0 14px 0;
  box-shadow: 0px 4px 8px #777777;
  background: linear-gradient(to right bottom, #ff93e1, #a16be0);
  border-bottom: 1px #9356DC solid;
}
.command a:active {
  margin: 13px 0;
  box-shadow: 0px 4px 8px #9d9d9d;
  background: linear-gradient(to right bottom, #ff93e1, #a16be0);
  border-bottom: 1px #9356DC solid;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 25px 6%;
}
footer h2 {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 769px) {
  footer ul {
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 600px;
  }
}
footer li {
  margin: 9px 0;
}
footer a, footer a:visited {
  color: #fff;
}
footer a:hover {
  color: #bfbfbf;
}