@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@-webkit-keyframes loading-visibility {
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loading-visibility {
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes change-circle {
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes change-circle {
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loading-bar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes loading-bar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@-webkit-keyframes change-logo {
  65% {
    color: #9356DC;
    opacity: 0;
  }
  70% {
    color: white;
  }
  80% {
    opacity: 1;
  }
  100% {
    color: white;
    opacity: 1;
  }
}
@keyframes change-logo {
  65% {
    color: #9356DC;
    opacity: 0;
  }
  70% {
    color: white;
  }
  80% {
    opacity: 1;
  }
  100% {
    color: white;
    opacity: 1;
  }
}
@-webkit-keyframes loading-circle {
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading-circle {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes menu-intro {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes menu-intro {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000;
}

.heart {
  position: absolute;
  right: 23px;
  top: 23px;
  font-size: 20px;
}
.heart__contour {
  position: relative;
  padding: 1px;
  color: #000;
  transition: all 300ms 100ms;
}
.heart:hover .heart__contour {
  opacity: 0;
  color: #9356DC;
}
.heart__center {
  position: absolute;
  padding: 1px;
  color: #fff;
  background-color: #fff;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transform: scale(0);
  transition: all 300ms;
}
.heart:hover .heart__center {
  transform: scale(1);
  color: transparent;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  box-shadow: 0px 0px 8px #b6b6b6;
  margin: 13px 0;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  position: absolute;
  display: block;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #ff93e1, #a36fe1);
  box-shadow: 0px 0px 12px #777777;
  border-radius: 50px;
  opacity: 0;
  transition: opacity 250ms;
}

.steps {
  margin-top: 33px;
  width: 100%;
  max-width: 400px;
}
@media screen and (min-width: 769px) {
  .steps {
    max-width: 875px;
    display: flex;
    justify-content: space-between;
  }
}
.steps h2 {
  flex: 1;
  font-size: 1em;
}
@media screen and (min-width: 769px) {
  .steps h2 {
    margin: 0 20px;
    text-align: center;
  }
}

.steps__list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  height: 72px;
  margin: 0 0 25px 12px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px #d9d9d9;
}
@media screen and (min-width: 769px) {
  .steps__list {
    width: 30%;
    height: 95px;
  }
}
.steps__list--third {
  background-color: #ece6f3;
}

.steps__list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 12px;
  width: 23%;
  color: #7e7e7e;
}
@media screen and (min-width: 769px) {
  .steps__list__icon {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: -25px;
    font-size: 1.5em;
    transform: translateX(-50%);
    background-color: #fff;
    border: 3px #f6f6f6 solid;
  }
}
.steps__list__icon--third {
  color: #9356DC;
}
@media screen and (min-width: 769px) {
  .steps__list__icon--third {
    border: 3px #ece6f3 solid;
  }
}

.steps__list__puce {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  color: #fff;
  font-size: 14px;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  position: relative;
  margin: 9px 0;
  box-shadow: 0px 4px 8px #dddddd;
  max-width: 400px;
}
@media screen and (min-width: 769px) {
  .card {
    width: 48.5%;
    max-width: 420px;
  }
}
.card > a {
  height: 174px;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
}
.card__infos {
  width: 100%;
  height: 77px;
  border-radius: 0 0 15px 15px;
  position: relative;
  background-color: #fff;
  padding: 14px;
}
.card__infos h2, .card__infos p {
  margin: 4px 0;
}
.card__infos h2 {
  font-weight: bold;
}

.new::after {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Nouveau";
  z-index: 2;
  top: 11px;
  right: 11px;
  background-color: #99E2D0;
  color: #278870;
  font-size: 14px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background-color: #fff;
  overflow: hidden;
  -webkit-animation: loading-visibility 250ms 2000ms forwards;
          animation: loading-visibility 250ms 2000ms forwards;
}

.loading-circle {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-color: #9356DC;
  -webkit-animation: loading-circle 400ms linear infinite;
          animation: loading-circle 400ms linear infinite;
}
.loading-circle__backgnd--secondary {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #fff;
  border-top: 3px #9356DC solid;
  border-right: 3px #9356DC solid;
  opacity: 1;
  -webkit-animation: change-circle 2000ms ease-in both;
          animation: change-circle 2000ms ease-in both;
}

.loading-border {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 90px;
  background-color: #fff;
  border: 1px #9356DC solid;
}

.loading-bar {
  width: 100%;
  height: 1px;
  position: fixed;
  top: 50%;
  left: 0;
  background-color: #9356DC;
  box-shadow: 0 0 5px #FF79DA;
  -webkit-animation: loading-bar 2000ms ease-in both;
          animation: loading-bar 2000ms ease-in both;
  transform-origin: left;
}

.loading-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Shrikhand", cursive;
  opacity: 0;
  color: #9356DC;
  font-size: 26px;
  -webkit-animation: change-logo 2000ms ease-in both;
          animation: change-logo 2000ms ease-in both;
}

header {
  position: relative;
  height: 63px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 164px;
  margin-top: 10px;
}

.header--shadow {
  box-shadow: 0px 3px 3px #d1d1d1;
}

.retour {
  position: absolute;
  left: 18px;
  margin-top: 10px;
  font-size: 20px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 3px #d1d1d1;
}
@media screen and (min-width: 993px) {
  .location {
    max-width: 992px;
    margin: 0 auto;
    box-shadow: inset 0px 3px 3px #d1d1d1, 0px 4px 12px #d9d9d9;
  }
}
.location__txt {
  position: relative;
}
.location__txt__icon {
  position: absolute;
  left: -30%;
}

.home-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 44px 20px;
}

.home-title {
  width: 100%;
  max-width: 400px;
  font-weight: bold;
  margin: 10px 0;
}
@media screen and (min-width: 769px) {
  .home-title {
    max-width: 875px;
  }
}

.explore {
  background-color: #f6f6f6;
}
@media screen and (min-width: 993px) {
  .explore {
    max-width: 992px;
    margin: 0 auto;
    box-shadow: 0px 4px 12px #d9d9d9;
    border-radius: 0 0 15px 15px;
  }
}
.explore a {
  width: 218px;
  height: 50px;
  border-radius: 25px;
}
.explore h1 {
  text-align: center;
  margin: 0px 22px;
  font-weight: bold;
}
.explore p {
  font-size: 1.2em;
  text-align: center;
  margin: 22px 0;
}

.restaurants {
  background-color: #f6f6f6;
}
@media screen and (min-width: 993px) {
  .restaurants {
    max-width: 992px;
    margin: 0 auto;
    box-shadow: 0px 4px 12px #d9d9d9;
    border-radius: 15px 15px 0 0;
  }
}
.restaurants ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
}
@media screen and (min-width: 769px) {
  .restaurants ul {
    max-width: 875px;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

footer {
  display: flex;
  flex-flow: column nowrap;
  background-color: #353535;
  color: #fff;
  padding: 25px 6%;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}
footer ul {
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 769px) {
  footer ul {
    max-width: 875px;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 600px;
  }
}
footer li {
  margin: 9px 0;
}
footer a, footer a:visited {
  color: #fff;
}
footer a:hover {
  color: #bfbfbf;
}