//Variables//

$color-backgnd-primary: #fff;
$color-backgnd-secondary: #f6f6f6;
$color-backgnd-tertiary: #353535;
$color-backgnd-quaternary: #eaeaea;
$color-font-primary: #000;
$color-font-secondary: #fff;
$color-font-tertiary:#7e7e7e;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-secondary-lighten: lighten($color-secondary, 10%);
$breakpoints: (tablet: 769px, desktop: 993px);


//Mixin//

@mixin btn($padding-btn) {

    color: $color-font-secondary;
    background-color: $color-primary ;
    background-image: linear-gradient(to right bottom, $color-secondary, rgba($color-primary, 0.5));
    box-shadow: 0px 0px 8px darken($color-backgnd-secondary,25%);
    height: 50px;
    padding: 10px $padding-btn;
    margin: 13px 0;
    border-radius: 25px;
    transform: scale(1);
    transition: background-color 250ms, box-shadow 250ms;
    &:hover{
        transform: scale(1);
        box-shadow: 0px 0px 10px darken($color-backgnd-secondary,60%);
        background-color: $color-secondary-lighten;
    }
    &:active{
        transform: scale(1);
        box-shadow: 0px 0px 8px darken($color-backgnd-secondary,35%);
        background-color: $color-secondary-lighten;
    }
    
}

//Placeholder//

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
}
%flex-spacebetween {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}