@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 1em;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    }
h1,h2{
    font-size: 1.5em;
}
a{
    text-decoration: none;
}

//Variable, Mixin & Placeholder//
@import "utils";

//Header//

header{
    height: 63px;
    background-color: $color-backgnd-primary;
    @extend %flex-center;
    img{
        width: 164px;
        margin-top: 10px;
    }
}

// Location //

.location{
    @extend %flex-center;
    height: 50px;
    background-color: $color-backgnd-quaternary;
    box-shadow: inset 0px 3px 3px darken($color-backgnd-quaternary, 10%);
    &__txt{
        font-size: 1em;
        position: relative;
        &__icon{
            position: absolute;
            left: -30px;
        }
    }
}

// Explore section //

.explore{
    @extend %flex-center;
    @extend %flex-column;
    background-color: $color-backgnd-secondary;
    padding: 44px 5%;
    a{
        @extend %flex-center;
        @include btn(22px);
    }
    p{
        font-size: 1.2em;
        font-weight: 300;
        margin: 22px 0;
    }
}

// Functioning section //

.functioning{
    @extend %flex-center;
    @extend %flex-column;
    background-color: $color-backgnd-primary;
    padding: 44px 5%;
    h2{
     width: 100%;
     max-width: 400px;
    }
}

.functioning__list__icon{
    @extend %flex-center;
    position: relative;
    left: 12px;
    width: 23%;
    color: $color-font-tertiary;
}

.functioning__list{
    margin: 33px 0 0 0 ;
    width: 100%;
    max-width: 400px;
    li{
        @extend %flex-center;
        position: relative;
        background-color: $color-backgnd-secondary;
        height: 72px;
        margin: 0 0 25px 12px ;
        border-radius: 12px;
        box-shadow: 0px 6px 12px darken($color-backgnd-primary,15%);
        &:nth-child(3){
            background-color: mix($color-backgnd-secondary, $color-primary, $weight: 92%);
        }
        &:nth-child(3) .functioning__list__icon{
            color: $color-primary;    
        }
    }

    h3{
        flex:1;
        font-size: 1em;
        font-weight: 400;
    }
}

.functioning__list__puce{
    @extend %flex-center;
    position: absolute;
    left: -12px;
    background-color: $color-primary;
    color: $color-font-secondary;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
}


// Restaurants section //

.restaurants{
    @extend %flex-center;
    @extend %flex-column;
    background-color: $color-backgnd-secondary;
    padding: 44px 5%;

    h2{
        width: 100%;
        max-width: 400px;
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            max-width: 850px;
        }
       }
    ul{
        @extend %flex-column;
        @extend %flex-center;
        width: 100%;
        max-width: 400px;
        margin: 10px 0;
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            flex-flow: row wrap;
            justify-content: space-between;
            max-width: 850px;
        }
    }
}
.restaurants-card{
    @extend %flex-column;
    margin: 9px 0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px darken($color-backgnd-secondary,10%);
    width: 100%;
    max-width: 400px;
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        width: 49%;
        max-width: 415px;
    }
    img{
        height: 174px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 15px 15px 0 0;
    }
}
.restaurants-card__infos{
    background-color: $color-backgnd-primary;
    position: relative;
    height: 77px;
    width: 100%;
    padding: 14px;
    border-radius: 0 0 15px 15px;
    h3{
        font-size: 1em;
        margin: 4px 0;
    }
    p{
        font-size: 1em;
        font-weight: 300;
        margin: 4px 0;
    }
    .heart{
        position: absolute;
        right: 23px;
        top: 23px;
        font-size: 20px;
        padding: 1px;
        color: $color-backgnd-primary;
        background-color: $color-backgnd-primary ;
        background-image: linear-gradient($color-primary, $color-secondary);
        text-shadow: 0px 1px $color-font-primary, 0px -1px $color-font-primary, -1px 0px $color-font-primary, 1px 0px $color-font-primary;
        background-clip: text;
        transition: all 400ms;
        &:hover{
            text-shadow: none;
            color: transparent;
        }
    }
}

// Footer //

footer{
    @extend %flex-column;
    background-color: $color-backgnd-tertiary;
    color: $color-font-secondary;
    padding: 25px 6%;
    h2{
        font-family: 'Shrikhand', cursive;
    }
    ul{
        @extend %flex-column;
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            flex-flow: row wrap;
            justify-content: space-between;
            max-width: 600px;
        }
    }
    li{
        margin:9px 0;
    }
    a, a:visited{
        color: $color-font-secondary;
        &:hover{
            color: darken($color-font-secondary, 25%);
        }
    }
}