//Mixin//

// Positioning//

@mixin flex-center($fcalign:center,$fccol:row) {
    display: flex;
    justify-content: center;
    align-items: $fcalign;
    @if $fccol!=row{
    flex-flow: column nowrap;
    }
}

@mixin flex-flow($ffdirection:column,$ffjustify:normal){
    display: flex;
    flex-flow: $ffdirection nowrap;
    @if $ffjustify!=normal {
    justify-content: $ffjustify;
    }
}

@mixin fixed-center{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

@mixin after($z:2){
    position: absolute;
    display: block;
    content: '';
    z-index:$z;
}

@mixin afterflex($cont:''){
    position: absolute;
    @include flex-center;
    content: $cont;
    z-index: 2;
}


// Shaping //


@mixin square($dimx,$dimy:$dimx){
    width: $dimx;
    height: $dimy;
}

@mixin circle($dimx,$dimy:$dimx){
    @include square($dimx,$dimy);
    border-radius: calc($dimy/2);
}

@mixin squircle($dimx,$dimy,$bord){
    @include square($dimx,$dimy);
    border-radius: $bord;
}

@mixin border-radius-topbot($brtop, $brbot) {
    border-radius: $brtop $brtop $brbot $brbot;
}

@mixin semi-squircle($dimx,$dimy,$brtop,$brbot){
    @include square($dimx,$dimy);
    @include border-radius-topbot($brtop, $brbot);
}

@mixin ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin img-fit{
    object-fit: cover;
    object-position: center;
}

// Responsive //

@mixin mobile-maxw{
    width: 100%;
    max-width: $mobile-width;
}

@mixin version($screen){
    @media screen and (min-width: map-get($breakpoints, $screen)) {
        @content;
    }
}

@mixin version-maxw($screen,$mauto:0){
    @include version($screen) {
        max-width: map-get($maxwidth, $screen);
        @if $mauto!=0 {
            margin: 0 auto;
            }
        @content;
    }
}
