//Mixin//

// Positioning//

@mixin flex-justify($fj-justify:center,$fj-dir:none,$fj-align:center) {
    display: flex;
    justify-content: $fj-justify;
    @if $fj-align!=none{
        align-items: $fj-align;
    }
    @if $fj-dir==row{
        flex-flow: row nowrap;
    } @else if $fj-dir==column{
        flex-flow: column nowrap;
    }
}

@mixin flex-column{
    display: flex;
    flex-flow: column nowrap;
}

@mixin fixed-center{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

@mixin absolute-left($posleft:0,$postop:none){
    position: absolute;
    left: $posleft;
    @if $postop!=none{
        top: $postop;   
    }
}

@mixin after($cont:'',$z:2){
    position: absolute;
    content: $cont;
    z-index:$z;
}

// Shaping //

@mixin square($dimx,$dimy:$dimx){
    width: $dimx;
    height: $dimy;
}

@mixin circle($dimx,$dimy:$dimx){
    @include square($dimx,$dimy);
    border-radius: calc($dimy/2);
}

@mixin squircle($dimx,$dimy,$bord){
    @include square($dimx,$dimy);
    border-radius: $bord;
}

@mixin border-radius-topbot($brtop, $brbot) {
    border-radius: $brtop $brtop $brbot $brbot;
}

@mixin semi-squircle($dimx,$dimy,$brtop,$brbot){
    @include square($dimx,$dimy);
    @include border-radius-topbot($brtop, $brbot);
}

@mixin ellipsis($fsize){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $fsize;
    line-height: calc($fsize *1.1);
}

// Responsive //

@mixin mobile-maxw{
    width: 100%;
    max-width: $mobile-width;
}

@mixin version($screen){
    @media screen and (min-width: map-get($breakpoints, $screen)) {
        @content;
    }
}

@mixin version-maxw($screen,$mauto:0){
    @include version($screen) {
        max-width: map-get($maxwidth, $screen);
        @if $mauto!=0 {
            margin: 0 auto;
            }
        @content;
    }
}

@mixin version-maxw-border($brtop:0, $brbot:0){
    @include version-maxw(desktop,auto) {
        @include border-radius-topbot($brtop,$brbot);
    }
}
