//Variables//

// Colors //
$color-backgnd-primary: #fff;
$color-backgnd-secondary: #f6f6f6;
$color-backgnd-tertiary: #353535;
$color-backgnd-quaternary: #eaeaea;
$color-backgnd-loading: $color-backgnd-primary;
$color-font-primary: #000;
$color-font-secondary: #fff;
$color-font-tertiary:#7e7e7e;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-font-new: darken($color-tertiary,40%);
$color-primary-lighten: lighten($color-primary, 6%);
$color-secondary-lighten: lighten($color-secondary, 5%);
$color-third-step: mix($color-backgnd-secondary, $color-primary, $weight: 90%);
$color-shadow-secondary: darken($color-backgnd-secondary,10%);

// Shadows & Border //

$shadow-header: 0px 3px 3px darken($color-backgnd-quaternary, 10%);
$shadow-location: inset $shadow-header;
$shadow-home: 0px 4px 12px darken($color-backgnd-primary,15%);
$shadow-card: 0px 4px 8px darken($color-backgnd-secondary,10%);
$shadow-meal: 0px 2px 6px $color-shadow-secondary;
$border-loading-circle: 3px $color-primary solid;

// Font Size //
$fonts-base: 16px;
$fonts-small: 0.9rem;
$fonts-normal: 1rem;
$fonts-lightmedium: 1.1rem;
$fonts-medium: 1.2rem;
$fonts-big: 1.5rem;
$fonts-menu-title: 1.8rem;

// Images //
$menu-01: 'lapalettedugout';
$menu-02: 'lanoteenchantee';
$menu-03: 'alafrancaise';
$menu-04: 'ledelicedessens';
$menu-bg: (1: $menu-01, 2: $menu-02, 3: $menu-03, 4: $menu-04) ;

// Dimensions //

$desktop-width: 992px;
$tablette-width: 875px;
$mobile-width: 400px;
$breakpoints: (tablet: 769px, desktop: 993px);
$maxwidth: (tablet: $tablette-width, desktop: $desktop-width);
$btn-height: 50px;
$mobile-home-padding:  44px 20px;

// Timing //
$menu-intro-delay: 150ms;
$menu-intro-duration: 800ms;
$meal-valid-duration: 500ms;
$loading-duration: 2000ms;