// Location //

.location{
    @include flex-center;
    height: 50px;
    background-color: $color-backgnd-quaternary;
    box-shadow: inset 0px 3px 3px darken($color-backgnd-quaternary, 10%);
    @include version-maxw(desktop) {
        box-shadow: inset 0px 3px 3px darken($color-backgnd-quaternary, 10%), 0px 6px 12px darken($color-backgnd-primary,15%);
        margin: 0 auto;
    }
    &__txt{
        position: relative;
        &__icon{
            position: absolute;
            left: -30px;
        }
    }
}

// Explore section //

.explore{
    @include flex-center;
    @extend %flex-column;
    background-color: $color-backgnd-secondary;
    padding: 44px 6%;
    @include version-maxw(desktop) {
        @include border-radius-topbot(0,15px);
        @include home-shadow;
        margin: 0 auto;
    }
    a{
        @include flex-center;
        padding: 10px 22px;
    }
    h1{
        text-align: center;
    }
    p{
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
        margin: 22px 0;
    }
}

// Functioning section //

.functioning{
    @include flex-center;
    @extend %flex-column;
    padding: 44px 5%;
    h1{
     width: 100%;
     max-width: 400px;
     @include version-maxw(desktop)
    }
}

// Restaurants section //

.restaurants{
    @include flex-center;
    @extend %flex-column;
    background-color: $color-backgnd-secondary;
    padding: 44px 5%;
    @include version-maxw(desktop) {
        border-radius: 15px 15px 0 0;
        @include home-shadow;
        margin: 0 auto;
        padding: 44px 25px;
    }

    h1{
        width: 100%;
        max-width: 400px;
        @include version-maxw(tablet)
       }
    ul{
        @extend %flex-column;
        @include flex-center;
        width: 100%;
        max-width: 400px;
        margin: 10px 0;
        @include version-maxw(tablet) {
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}