// Location //

.location{
    @extend %flex-center;
    height: 50px;
    background-color: $color-backgnd-quaternary;
    box-shadow: inset 0px 3px 3px darken($color-backgnd-quaternary, 10%);
    &__txt{
        font-size: 1em;
        position: relative;
        &__icon{
            position: absolute;
            left: -30px;
        }
    }
}

// Explore section //

.explore{
    @extend %flex-center;
    @extend %flex-column;
    background-color: $color-backgnd-secondary;
    padding: 44px 5%;
    a{
        @extend %flex-center;
        @include btn(22px);
    }
    p{
        font-size: 1.2em;
        font-weight: 300;
        margin: 22px 0;
    }
}

// Functioning section //

.functioning{
    @extend %flex-center;
    @extend %flex-column;
    background-color: $color-backgnd-primary;
    padding: 44px 5%;
    h2{
     width: 100%;
     max-width: 400px;
    }
}

.functioning__list__icon{
    @extend %flex-center;
    position: relative;
    left: 12px;
    width: 23%;
    color: $color-font-tertiary;
}

.functioning__list{
    margin: 33px 0 0 0 ;
    width: 100%;
    max-width: 400px;
    li{
        @extend %flex-center;
        position: relative;
        background-color: $color-backgnd-secondary;
        height: 72px;
        margin: 0 0 25px 12px ;
        border-radius: 12px;
        box-shadow: 0px 6px 12px darken($color-backgnd-primary,15%);
        &:nth-child(3){
            background-color: mix($color-backgnd-secondary, $color-primary, $weight: 92%);
        }
        &:nth-child(3) .functioning__list__icon{
            color: $color-primary;    
        }
    }

    h3{
        flex:1;
        font-size: 1em;
        font-weight: 400;
    }
}

.functioning__list__puce{
    @extend %flex-center;
    position: absolute;
    left: -12px;
    background-color: $color-primary;
    color: $color-font-secondary;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
}


// Restaurants section //

.restaurants{
    @extend %flex-center;
    @extend %flex-column;
    background-color: $color-backgnd-secondary;
    padding: 44px 5%;

    h2{
        width: 100%;
        max-width: 400px;
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            max-width: 850px;
        }
       }
    ul{
        @extend %flex-column;
        @extend %flex-center;
        width: 100%;
        max-width: 400px;
        margin: 10px 0;
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            flex-flow: row wrap;
            justify-content: space-between;
            max-width: 850px;
        }
    }
}
.restaurants-card{
    @extend %flex-column;
    margin: 9px 0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px darken($color-backgnd-secondary,10%);
    width: 100%;
    max-width: 400px;
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        width: 49%;
        max-width: 415px;
    }
    img{
        height: 174px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 15px 15px 0 0;
    }
}
.restaurants-card__infos{
    background-color: $color-backgnd-primary;
    position: relative;
    height: 77px;
    width: 100%;
    padding: 14px;
    border-radius: 0 0 15px 15px;
    h3{
        font-size: 1em;
        margin: 4px 0;
    }
    p{
        font-size: 1em;
        font-weight: 300;
        margin: 4px 0;
    }
}