// Location //

.location{
    @include flex-center;
    height: 50px;
    background-color: $color-backgnd-quaternary;
    box-shadow: $shadow-location;
    @include version-maxw(desktop) {
        box-shadow: $shadow-location, $shadow-home;
        margin: 0 auto;
    }
    &__txt{
        position: relative;
        &__icon{
            position: absolute;
            left: -30px;
        }
    }
}

// Explore section //

.explore{
    @include flex-center(center,column);
    background-color: $color-backgnd-secondary;
    padding: $mobile-home-padding;
    margin: 0 auto;
    @include version-maxw(desktop) {
        @include border-radius-topbot(0,15px);
        box-shadow: $shadow-home;
    }
    a{
        @include btn-squircle(218px,$btn-height);
    }
    h1{
        text-align: center;
        margin: 0px 22px;
    }
    p{
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
        margin: 22px 0;
    }
}

// Functioning section //

.functioning{
    @include flex-center(center,column);
    padding: $mobile-home-padding;
    h1{
     @include mobile-maxw;
     @include version-maxw(tablet);
    }
}

// Restaurants section //

.restaurants{
    @include flex-center(center,column);
    background-color: $color-backgnd-secondary;
    padding: $mobile-home-padding;
    margin: 0 auto;
    @include version-maxw(desktop) {
        @include border-radius-topbot(15px,10);
        box-shadow: $shadow-home;
    }

    h1{
        @include mobile-maxw;
        @include version-maxw(tablet)
       }
    ul{
        @include flex-center(center,column);
        @include mobile-maxw;
        margin: 10px 0;
        @include version-maxw(tablet) {
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}