.top-menu{
    position: relative;

    &__header{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 35px;
        background-color: $color-backgnd-secondary;
        @include border-radius-topbot(38px,0);
        @include version-maxw(tablet) {
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    &__img{
        @include img-fit(255px);
    }
}

.menu-backnd{
    background-color: $color-backgnd-secondary;
    width: 100%;
    padding: 0 14px;
    margin: 0;
    @include version-maxw(tablet) {
        margin: 0 auto;
    }
}

.menu-title{
    position: relative;
    padding-bottom: 14px;
    @extend %flex-spacebetween;
    align-items: center;
    font-family: 'Shrikhand', cursive;

    .heart{
        position: relative;
        right: 0px;
        top: 0px;
        margin-right: 24px;
    }
}

.menu{
    h2{ 
        position: relative;
        text-transform: uppercase;
        font-weight: 300;
        margin: 30px 6px 26px;
        font-size: 1em;
        &:after{
            position: absolute;
            display: block;
            background-color: $color-tertiary;
            bottom: -8px;
            height: 3px;
            width: 40px;
            content: "";
        }
    }
    
    &__list{
        @extend %flex-column;
    }

    @for $nu from 1 through 3 {
        & ul:nth-of-type(#{$nu}){
            @for $n from 1 through 3 {
                & .meal:nth-child(#{$n}){
                    animation: menu-intro 800ms (($menu-intro-delay*$n)+(($menu-intro-delay*3)*(($nu)-1))) ease-out both;
                }
            }
        }
    }
}

.command{
    @include flex-center;
    @extend %flex-column;
    padding: 40px 0;

    a{
        @include flex-center;
        padding: 10px 50px;
    }
}