.top-menu{
    position: relative;
    @include square(100%,255px);
    @include flex-center(flex-end);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after{
        @include semi-squircle(100%,35px,38px,0);
        @include after;
        bottom: 0;
        left:50%;
        transform: translate(-50%,0);
        background-color: $color-backgnd-secondary;
        @include version-maxw(desktop);
    }
}

@each $mn, $mbg in $menu-bg {
    .top-menu--#{$mn} {
        background-image: url('../img/restaurants/#{$mbg}.jpg');
    }
  }

.menu-backnd{
    background-color: $color-backgnd-secondary;
    width: 100%;
    padding: 0 14px;
    @include version-maxw(desktop,auto){
        box-shadow: $shadow-home;
    }
}

.menu-title{
    position: relative;
    padding-bottom: 14px;
    @include flex-flow(row,space-between);
    align-items: center;
    font-family: 'Shrikhand', cursive;
    @include version-maxw(tablet,auto);

    .heart{
        position: relative;
        right: 0px;
        top: 0px;
        margin-right: 24px;
    }
}

.menu{
    @include version-maxw(tablet,auto);

    h2{ 
        position: relative;
        text-transform: uppercase;
        font-weight: 300;
        margin: 30px 6px 26px;
        &::after{
            @include after;
            @include square(40px,3px);
            background-color: $color-tertiary;
            bottom: -8px;
        }
    }
    
    &__list{
        @include flex-flow;
    }

    @for $nu from 1 through 3 {
        & ul:nth-of-type(#{$nu}){
            @for $n from 1 through 4 {
                & .meal:nth-child(#{$n}){
                    animation: menu-intro 800ms (($menu-intro-delay*$n)+(($menu-intro-delay*3)*(($nu)-1))) ease-out both;
                }
            }
        }
    }
}

.command{
    @include flex-center;
    padding: 40px 0;

    a{
        @include circle(186px,$btn-height);
    }
}