// Card //

.card{
    @include flex-column;
    @include squircle(100%,251px,15px);
    position: relative;
    margin: 9px 0;
    box-shadow: $shadow-card;
    max-width: $mobile-width;
    @include version(tablet) {
        width: 48.5%;
        max-width: calc($mobile-width*1.05);
    }

    &>a{
        height: 174px;
    }

    img{
        object-fit: cover;
        object-position: center;
        @include semi-squircle(100%,174px,15px,0);
    }

    &__infos{
        @include semi-squircle(100%,77px,0,15px);
        position: relative;
        background-color: $color-backgnd-primary;
        padding: 10px 14px;
        
        h3,p{
            margin: 7px 0;
        }
        h3{
            font-weight: bold;
            font-size: $fonts-lightmedium;
        }
    }
}

.new{
    &::after{
        @include squircle(80px,30px,5px);
        @include after('Nouveau');
        @include flex-justify;
        top: 11px;
        right: 11px;
        background-color: $color-tertiary;
        color: $color-font-new;
        font-size: $fonts-small;
    }
}