// Meals //

.meal{
    @include flex-justify(flex-end,row);
    @include squircle(100%,68px,15px);
    position: relative;
    margin: 7px 0;
    background-color: $color-backgnd-primary;
    box-shadow: $shadow-meal;
    opacity: 1;
    overflow: hidden;

    &:hover .meal__end{
        transform: translateX(0);
    }

    &:hover .meal__end__valid__circle{
        transform: rotate(1turn);
    }

    &:hover .meal__infos{
        padding-right: 120px;
    }
}

.meal__infos{
    width: 100%;
    flex: 1;
    padding:14px 61px 14px 11px;
    transition: all $meal-valid-duration;

    h3{
        font-weight: bold;
        margin-bottom:6px;
        @include ellipsis;
    }
    p{
        font-size: $fonts-meal-txt;
        @include ellipsis;
    }
}
.meal__end{
    @include squircle(119px,100%,15px);
    @include flex-justify(flex-end,row,none);
    position: absolute;
    right: 0;
    transform: translateX(59px);
    transition: transform $meal-valid-duration;

    &__price{
        width: 50px;
        padding:36px 10px 10px 5px;
        font-size: $fonts-meal-txt;
        text-align: center;
        font-weight: bold;
    
    }

    &__valid{
        @include flex-justify;
        width: 59px;
        background-color: $color-tertiary;
        color: $color-font-secondary;
        font-size: 20px;

        &__circle{
            transform: rotate(0turn);
            transition: all $meal-valid-duration;
        }
    }
}