//Bases
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: $fonts-base;
}

*{
    box-sizing: border-box;
}

h1{
    font-size: $fonts-big;
    font-weight: 500;
}

p{
    font-weight: 300;
}

a{
    text-decoration: none;
    color: $color-font-primary;
}
