//Header//

header{
    position: relative;
    height: 63px;
    background-color: $color-backgnd-primary;
    @include flex-justify;
    img{
        width: 164px;
        margin-top: 10px;
    }
}

// Home page //

.header--shadow{
    @include version(tablet) {
        box-shadow: $shadow-header;
    }
}

// Menu pages //

.return{
    @include absolute-left(18px);
    margin-top: 10px;
    font-size: 20px;
}
