//Header//

header{
    position: relative;
    height: 63px;
    background-color: $color-backgnd-primary;
    @include flex-center;
    img{
        width: 164px;
        margin-top: 10px;
    }
}

// Home page //

.header--shadow{
    box-shadow: $shadow-header;
}

// Menu pages //

.retour{
    position: absolute;
    margin-top: 10px;
    left: 18px;
    font-size: 20px;
    color: $color-font-primary;

}
