// Loading //

.loading{
    position: fixed;
    @include flex-center;
    @include square(100%);
    z-index: 99;
    background-color: $color-backgnd-loading;
    overflow: hidden;
    animation: loading-visibility 250ms $loading-duration forwards;
}

.loading-circle{
    @include circle(160px);
    background:  linear-gradient(to right bottom, $color-secondary, $color-primary);
    background-color: $color-primary;
    animation: loading-circle 400ms linear infinite;
    &__backgnd--secondary{
        @include circle(160px);
        background-color: $color-backgnd-loading;
        border-top: 3px $color-primary solid;
        border-right: 3px $color-primary solid;
        opacity: 1;
        animation: change-circle $loading-duration ease-in both;
    }
}

.loading-border{
    @include fixed-center;
    background-color: $color-backgnd-loading;
    @include circle(180px);
    border: 1px $color-primary solid;
}

.loading-bar{
    position: fixed;
    top:50%;
    left:0;
    background-color: $color-primary;
    box-shadow: 0 0 5px $color-secondary;
    @include square(100%,1px);
    animation: loading-bar $loading-duration ease-in both;
    transform-origin: left;

}

.loading-logo{
    @include fixed-center;
    font-family: 'Shrikhand', cursive;
    opacity:0;
    color: $color-primary;
    font-size: 26px;
    animation: change-logo $loading-duration ease-in both;
}

